.admin .users-page .user-list {
    border-radius: var(--main-border-radius);
    box-shadow: 1px 1px 5px 1px var(--color-2);
    border: var(--light-border);
    max-height: 500px;
    overflow: auto;
    background-color: var(--color-2);
}

.admin .users-page .rooms-list thead {
    background-color: var(--color-2);
    position: sticky;
    top: 0;
}

.admin .users-page .submit-background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}

.admin .users-page .submit-delete {
    background-color: var(--main-color);
    padding: 100px;
    border-radius: var(--main-border-radius);
}

.admin .users-page .submit-delete div {
    justify-content: space-between;
}