.admin {
    background-color: var(--main-color);
    color: var(--color-7);
}

.admin a {
    color: var(--color-7);
}

.admin a:hover {
    color: var(--color-5);
}

.admin .main {
    width: calc( 100vw - 200px )
}

.admin .header {
    height: 50px;
    border-bottom: var(--light-border);
    background-color: var(--main-color);
    color: var(--color-7);
}

.admin .header nav {
    display: flex;
    align-items: center;
}

.admin .header nav a {
    padding: 0 10px;
}

.admin .page {
    height: calc(100vh - 50px);
    width: 100%;
    overflow: auto;
}

.admin .content {
    width: 100%;
    padding: 10px;
}


/* SideBar */
.admin .sidebar .head {
    border-bottom: var(--light-border);
    display: flex;
    align-items: center;
    height: 50px;
}

.admin .sidebar .head a {
    margin: 0 10px;
}

.admin .sidebar {
    width: 200px;
}

.admin .sidebar .section {
    overflow: auto;
    height: calc(100vh - 50px);
}

.admin .sidebar .content {
    border-right: var(--light-border);
    padding: 10px;
}

.admin .sidebar .page-nav {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: var(--light-border);
}

/* content */
.admin .table {
    color: var(--color-7);
}